header{
    width: 100%;
    background-color: cadetblue;
    height: 100px;
    margin-bottom: 30px;
}
.home{
    width: 100%;
    background-color: red;
    height: 800px;
    margin-bottom: 30px;
}
.collection{
    width: 100%;
    height: 400px;
    margin-bottom: 30px;
    display: inline-flex;
    justify-content:space-between;
}
.men{
    height:350px;
    display: inline-flex;
    background-color: antiquewhite;
    margin-top: 30px;
}
h2{
    color: grey;
}
#view{
    color: grey;
    text-decoration: none;
}
#view:hover{
    text-decoration: none;
    color:black;
}
.men-img{
    height:350px;
}
#content{
    align-items: center;
    padding: 100px 20px 0px 20px;
}

.women{
    height: 350px;
    display: flex;
    background-color: antiquewhite;
    margin-top: 30px;
}
.women-img{
    height:350px;
}
.featured{
    width: 100%;
    background-color: green;
    height: 300px;
    margin-bottom: 30px;
}

.footer{
    width: 100%;
    background-color: darkmagenta;
    height: 100px;
}
.new-arrival{
    width: 100%;
    height: 1000px;
    margin-bottom: 30px;
    text-align: center;
}

.new-box{
    position: relative;
    display: inline-flex;
    justify-content: center;
    background-color: grey;
    overflow: hidden;
    margin: 20px 20px 20px 20px;
}

.new-link{
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(229, 89,71,0.6);
    transition: 0.3s;
}
.new-img{
    height: 400px;
    width: auto;
}

.new-box:hover .new-link{
    bottom: 0;
}
.button{
    display: block;
    background-color: rgba(252, 96, 6,0.8);
    padding: 20px 20px;
    color: white;
    border-radius: 2px;
}
.button:hover{
    text-decoration: none;
    color: white;
    background-color: rgba(252, 96, 6,0.9);
}
.section-all{
   color: gray;
}

.section-all:hover{
   color:rgb(104, 100, 100);
}
.section-title{
    color: rgb(32, 32, 32);
}
.sponser{
    width: 100%;
    height: 400px;
    margin-bottom: 30px;
   text-align: center;
   padding: 50px 20px;
}
#newsletter{
    color:rgb(32, 32, 32);
}

.sponsored-imgs{
    padding:100px 100px 0px 100px;
    width: 100%;
    display: flex;
    column-gap:150px;
}

.sponsored-img{
 height: 100px;
}

#email{
    height: 40px;
    width: 250px;
    border: none;
    background-color:rgb(241, 236, 236);
}
.subscribe{
    color: white;
    background-color: rgb(252, 96, 6);
    padding: 6px 20px;
    border: 2px solid  rgb(252, 96, 6);
    outline:none;
}
.subscribe:hover{
    background-color:rgb(94, 88, 88);
    color: white;
    border: 2px solid rgb(94, 88, 88);
}
